* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(11, 36, 52, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background: rgba(245, 245, 245, 1);
    width: 320px;
    height: 320px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Karla;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 17.92px;
}

.die {
    width: 35.84px;
    height: 35.84px;
    border-radius: 3.81px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 1);
    font-family: Karla;
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    cursor: pointer;
}

.roll-dice {
    width: 92.16px;
    height: 35.84px;
    background: rgba(80, 53, 255, 1);
    box-shadow: 0px 3.1999998092651367px 7.679999828338623px 0px rgba(0, 0, 0, 0.18);
    border: none;
    border-radius: 3.81px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    font-family: Karla;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.roll-dice:focus {
    outline: none;
}

.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}